# EditorConfig helps maintain consistent coding styles
# for multiple developers working on the same project across various editors and IDEs.
# https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Dart files
[*.dart]
indent_style = space
indent_size = 2

# YAML files
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
insert_final_newline = true

# Shell scripts
[*.{sh,bash,zsh}]
indent_style = space
indent_size = 2
end_of_line = lf

# Windows batch files
[*.{bat,cmd}]
end_of_line = crlf

# PowerShell scripts
[*.ps1]
indent_style = space
indent_size = 4
end_of_line = crlf

# Java files
[*.java]
indent_style = space
indent_size = 4

# Kotlin files
[*.kt]
indent_style = space
indent_size = 4

# Swift files
[*.swift]
indent_style = space
indent_size = 4

# Gradle files
[*.gradle]
indent_style = space
indent_size = 4

# XML files
[*.xml]
indent_style = space
indent_size = 4

# Gradients
[gradlew]
end_of_line = lf

[gradlew.bat]
end_of_line = crlf
